
.holder
{
    position: relative;
    height: auto;
    min-height: 100%;
    width: 100%;
}
.info
{
    position: absolute;
    background-color: rgba(47, 47, 78, 0.7);
    border: rgb(136, 136, 136) solid 2px;
    min-height: 100%;
    width: 100%;
    padding: 10px;
    color: blanchedalmond;
    opacity: 0;

}
.info-origin
{
    height: 0%;
    opacity: 0;
    transition: height 3s, opacity 0.5s;
}

.info-transform
{
    min-height: 100%;
    width: 100%;
    opacity: 1;
    transition: height 10ms,  opacity 1s;
    transition-delay: 0.35s;
    margin-bottom: 20px;
}
.introduction-card
{
    opacity: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(58, 58, 90, 0.6);
}
.paragraph
{
    font-size: 1.32rem;
}
.img-align
{
    text-align: center;
}