
.grid-template-3
{
    display: grid;
    grid-template-columns: 15% 35% 50%;
}
.grid-template-2
{
    display: grid;
    grid-template-columns: auto auto;
}
.col-padding
{   
    padding: 0 10px;
}
.col-margin-auto
{
    margin: auto 0;
}
.col-margin-20
{
    margin: 50px 0;
}
.z-index-1
{
    z-index: 1;
}

@media only screen and (max-width: 1300px)
{
    .grid-template-3
    {
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
    }
    .grid-template-2
    {
        width: 80%;
        margin: 0 auto;
        grid-column-end: span 2;
    }
}

@media only screen and (max-width: 1000px)
{
    .grid-template-3
    {
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
    }
    .grid-template-2
    {
        grid-column-end: span 2;
        width: 80%;
        margin: auto;
    }
}
@media only screen and (max-width: 800px)
{
    .grid-template-3
    {
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
    }
    .grid-template-2
    {
        grid-column-end: span 2;
        width: 100%;
    }
}
@media only screen and (max-width: 600px)
{
    .grid-template-3
    {
        display: grid;
        grid-template-columns: 25% 75%;
        width: 100%;
    }
    .grid-template-2
    {
        grid-template-columns: auto;
        width: 90%;
    }
}