
.grid-template-3
{
    display: grid;
    grid-template-columns: 15% 35% 50%;
}
.grid-template-2
{
    display: grid;
    grid-template-columns: auto auto;
}
.col-margin
{   
    margin: 0 10px;
}
.col-top-margin
{
    margin-top: 25%;
}