*{
    box-sizing: border-box;
}
.card
{
    width: 75%;
    background-color: black;
    border: rgb(78, 78, 78) solid 1px;
    border-left: none;
    color: whitesmoke;
    font-size: 150%;
    text-align: center;
    padding: 10% 5px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;

}
.card-holder
{
    width: 100%;
    margin: 0 0;   
}

.card-origin
{
    transform: rotate(0deg);
    transition: transform 0.5s;
}

.card-transform
{
    transform: rotateY(180deg) scaleX(1.02);
    transition: transform 0.5s; 
}

@media only screen and (max-width: 600px)
{
        .card
    {
        width: 85%;
        font-size: 100%;
        padding: 10% 2px;
    }
}
@media only screen and (max-width: 400px)
{
        .card
    {
        width: 85%;
        padding: 15% 1px;
    }
}