#myVideo 
{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1600px)
{
    #myVideo 
    {
        height: 100vh;
    } 
}
@media only screen and (max-width: 1300px)
{
    #myVideo 
    {
        height: 110vh;
    } 
}
@media only screen and (max-width: 500)
{
    #myVideo 
    {
        height: 150vh;
    } 
}
@media only screen and (max-width: 400)
{
    #myVideo 
    {
        height: 200vh;
    } 
}

